body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #24160a, #231509);
  color: #f5f0e6;
  font-family: Arial, sans-serif;
  transition: background 0.6s ease;
}

h1 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #49270c;
  color: #f5f0e6;
  font-family: Arial, sans-serif;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #44240b;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img.logo {
  max-width: 300px;
  margin-bottom: 2rem;
}
